:root {
    --deep-purple: #6b006c;
    --light-purple: #8a5eff;
}

* {
  box-sizing: border-box;
  font-family: 'Genos', sans-serif;
  margin: 0;
  padding: 0;
}

a {
    font-size: 32px;
    color: black;
}

h1 {
    font-size: 32px;
    margin: 0 15%;
}

h2 {
    font-size: 18px;
    margin: 0 15%;
}

p {
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid var(--deep-purple);
    height: 10vh;
    width: 100vw;
    padding: 20px;
    
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
}

.question-container {
    width:800px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: #ffffff;
    background-color: var(--deep-purple);
    border-radius: 5px;
    width: 100px;
}

button:hover {
    background-color: var(--light-purple);
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: #6b006c 0px 0px 10px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.start-btn {
    width: 200px;
    height: 50px;
    font-size: 32px;
    margin: 10px 0;
}

.next-btn {
    width: 150px;
}

#question {
    font-size: 30px;
}

.hidden {
    display: none;
}

.correct {
    background-color: green
}

.incorrect {
    background-color: red
}